body {
  display: flex;
  justify-content: center;
  background-image: url("images/source.gif");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.displayButton {
  width: 328px;
  height: 84px;
  color: black;
  /*display: inline-block;*/
  margin: 2px;
  background-color: white;
}

button {
  width: 10em;
  height: 8em;
  color: black;
  background-color: #a0d8e5;
  margin-bottom: 1px;
}

.calculator {
  display: flex;
  flex-direction: column;
}

#cPad,
#numbersTop,
#numbersSecondTop,
#numbersThirdTop,
#numbersBottom {
  display: flex;
}

#cPad {
  display: flex;
  flex-direction: row;
}
